*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/public/audio/
public/data/content/dataFileList.dat
public/data/content/root.dat
public/data/content/data/Bitmaps.dat
public/data/content/data/data1.dat
public/data/content/data/masterPage.dat
public/data/content/data/page1.dat
public/data/content/data/page2.dat
public/data/content/data/page3.dat
public/data/content/data/page4.dat
public/data/content/data/page5.dat
public/data/content/data/page6.dat
public/data/content/data/page7.dat
public/data/content/data/page8.dat
public/data/content/data/page9.dat
public/data/content/data/page10.dat
public/data/content/data/page11.dat
public/data/content/data/page12.dat
public/data/content/data/page13.dat
public/data/content/data/page14.dat
public/data/content/data/page15.dat
public/data/content/data/page16.dat
public/data/content/data/page17.dat
public/data/content/data/page18.dat
public/data/content/data/page19.dat
public/data/content/data/page20.dat
public/data/content/data/page21.dat
public/data/content/data/page22.dat
public/data/content/data/page23.dat
public/data/content/data/page24.dat
public/data/content/data/page25.dat
public/data/content/data/page26.dat
public/data/content/data/page27.dat
public/data/content/data/page28.dat
public/data/content/data/page29.dat
public/data/content/data/page30.dat
public/data/content/data/page31.dat
public/data/content/data/page32.dat
public/data/content/data/page33.dat
public/data/content/data/page34.dat
public/data/(Revisi Pengarang)E-Book Pembelajaran.pdf
public/data/290524_BUKU PANDUAN MEMBACA.cdr
public/data/290524_BUKU PANDUAN MEMBACA.cdr - Copy.zip
public/data/mimetype
public/data/META-INF/container.xml
public/data/META-INF/links.xml
public/data/META-INF/metadata.xml
public/data/META-INF/textinfo.xml
public/data/color/color.xml
public/data/color/docPalette.xml
public/data/embed/embedding0
public/data/embed/embedding1
public/data/embed/embedding2
public/data/embed/embedding3
public/data/embed/embedding4
public/data/embed/embedding5
public/data/embed/embedding6
public/data/embed/embedding7
public/data/embed/embedding8
public/data/embed/embedding9
public/data/embed/embedding10
public/data/embed/embedding11
public/data/font/fontTable.dat
public/data/previews/page1.png
public/data/previews/page2.png
public/data/previews/page3.png
public/data/previews/page4.png
public/data/previews/page5.png
public/data/previews/page6.png
public/data/previews/page7.png
public/data/previews/page8.png
public/data/previews/page9.png
public/data/previews/page10.png
public/data/previews/page11.png
public/data/previews/page12.png
public/data/previews/page13.png
public/data/previews/page14.png
public/data/previews/page15.png
public/data/previews/page16.png
public/data/previews/page17.png
public/data/previews/page18.png
public/data/previews/page19.png
public/data/previews/page20.png
public/data/previews/page21.png
public/data/previews/page22.png
public/data/previews/page23.png
public/data/previews/page24.png
public/data/previews/page25.png
public/data/previews/page26.png
public/data/previews/page27.png
public/data/previews/page28.png
public/data/previews/page29.png
public/data/previews/page30.png
public/data/previews/page31.png
public/data/previews/page32.png
public/data/previews/page33.png
public/data/previews/page34.png
public/data/previews/thumbnail.png
public/data/styles/document.cdss
/public/gambar/halaman_1/ayam.webp
/public/gambar/halaman_1/beruang.webp
/public/gambar/halaman_1/cabai.webp
/public/gambar/halaman_1/dasi.webp
/public/gambar/halaman_1/elang.webp
/public/gambar/halaman_1/flamingo.webp
/public/gambar/halaman_2/gajah.webp
/public/gambar/halaman_2/helikopter.webp
/public/gambar/halaman_2/ikan.webp
/public/gambar/halaman_2/jerapah.webp
/public/gambar/halaman_2/kelelawar.webp
/public/gambar/halaman_2/lampu.webp
/public/gambar/halaman_3/(Revisi Pengarang)E-Book Pembelajaran.webp
/public/gambar/halaman_3/(Revisi Pengarang)E-Book Pembelajaran (1).webp
/public/gambar/halaman_3/(Revisi Pengarang)E-Book Pembelajaran (2).webp
/public/gambar/halaman_3/(Revisi Pengarang)E-Book Pembelajaran (3).webp
/public/gambar/halaman_3/mangga.webp
/public/gambar/halaman_3/nanas.webp
/public/gambar/halaman_4/(Revisi Pengarang)E-Book Pembelajaran.webp
/public/gambar/halaman_4/singa (1).webp
/public/gambar/halaman_4/tomat.webp
/public/gambar/halaman_4/ubi.webp
/public/gambar/halaman_4/wortel.webp
/public/gambar/halaman_4/xlophone.webp
/public/gambar/halaman_4/yoyo.webp
/public/gambar/halaman_4/zebra.webp
/public/gambar/halaman_7/(Revisi Pengarang)E-Book Pembelajaran.webp
/public/gambar/halaman_7/awan.webp
/public/gambar/halaman_7/ayam.webp
/public/gambar/halaman_7/elang.webp
/public/gambar/halaman_7/emas.webp
/public/gambar/halaman_7/ember.webp
/public/gambar/halaman_7/iguana.webp
/public/gambar/halaman_7/ikan.webp
/public/gambar/halaman_7/itik.webp
/public/gambar/halaman_7/obeng.webp
/public/gambar/halaman_7/obor.webp
/public/gambar/halaman_7/ombak.webp
/public/gambar/halaman_7/ubi.webp
/public/gambar/halaman_7/udang.webp
/public/gambar/halaman_7/ular.webp
/public/gambar/halaman_8/bebek.webp
/public/gambar/halaman_8/gurita.webp
/public/gambar/halaman_8/hiu.webp
/public/gambar/halaman_8/kucing.webp
/public/gambar/halaman_12/(Revisi Pengarang)E-Book Pembelajaran.webp
/public/gambar/halaman_12/(Revisi Pengarang)E-Book Pembelajaran (1).webp
/public/gambar/halaman_12/bola.webp
/public/gambar/halaman_12/foto.webp
/public/gambar/halaman_12/kue.webp
/public/gambar/halaman_12/lele.webp
/public/gambar/halaman_12/meja.webp
/public/gambar/halaman_12/piano.webp
/public/gambar/halaman_12/sapi.webp
/public/gambar/halaman_12/sate.webp
/public/gambar/halaman_13-14/ball.webp
/public/gambar/halaman_13-14/bola.webp
/public/gambar/halaman_15/kacamata.webp
/public/gambar/halaman_15/kuda.webp
/public/gambar/halaman_15/rusa.webp
/public/gambar/halaman_15/terong.webp
/public/gambar/halaman_15/timun.webp
/public/gambar/halaman_16/koin.webp
/public/gambar/halaman_16/melon.webp
/public/gambar/halaman_16/permen.webp
/public/gambar/halaman_16/taman.webp
/public/gambar/halaman_16/timun.webp
/public/gambar/halaman_17/donat.webp
/public/gambar/halaman_17/laut.webp
/public/gambar/halaman_17/pilot.webp
/public/gambar/halaman_17/roket.webp
/public/gambar/halaman_17/sakit.webp
/public/gambar/halaman_18/kaos.webp
/public/gambar/halaman_18/kapas.webp
/public/gambar/halaman_18/kubis.webp
/public/gambar/halaman_18/meses.webp
/public/gambar/halaman_18/paus.webp
/public/gambar/halaman_19/apel.webp
/public/gambar/halaman_19/botol.webp
/public/gambar/halaman_19/cangkul.webp
/public/gambar/halaman_19/kadal.webp
/public/gambar/halaman_19/mobil.webp
/public/gambar/halaman_20-21/badak.webp
/public/gambar/halaman_20-21/badak_en.webp
/public/gambar/halaman_22/alpukat.webp
/public/gambar/halaman_22/bebek.webp
/public/gambar/halaman_22/jagung.webp
/public/gambar/halaman_22/kelinci.webp
/public/gambar/halaman_23-24/wortel.webp
/public/gambar/halaman_23-24/wortel_en.webp
/public/gambar/halaman_25/lilin.webp
/public/gambar/halaman_25/mobil.webp
/public/gambar/halaman_25/robot.webp
/public/gambar/halaman_26/bakpau.webp
/public/gambar/halaman_26/bakpia.webp
/public/gambar/halaman_26/benua.webp
/public/gambar/halaman_26/cabai.webp
/public/gambar/halaman_26/danau.webp
/public/gambar/halaman_26/hiu.webp
/public/gambar/halaman_26/koboi.webp
/public/gambar/halaman_26/kue.webp
/public/gambar/halaman_26/murbei.webp
/public/gambar/halaman_26/video.webp
/public/gambar/halaman_27/bakso.webp
/public/gambar/halaman_27/bambu.webp
/public/gambar/halaman_27/banjir.webp
/public/gambar/halaman_27/bantal.webp
/public/gambar/halaman_27/barber.webp
/public/gambar/halaman_27/dokter.webp
/public/gambar/halaman_27/kertas.webp
/public/gambar/halaman_27/landak.webp
/public/gambar/halaman_27/panci.webp
/public/gambar/halaman_27/pompa.webp
/public/gambar/halaman_28/banteng.webp
/public/gambar/halaman_28/mangga.webp
/public/gambar/halaman_28/minyak.webp
/public/gambar/halaman_28/nyanyi.webp
/public/gambar/halaman_28/nyenyak.webp
/public/gambar/halaman_28/nyonya.webp
/public/gambar/halaman_28/senyum.webp
/public/gambar/halaman_28/singa.webp
/public/gambar/halaman_28/sungai.webp
/public/gambar/halaman_28/tongkat.webp
/public/gambar/halaman_29/kelinci.webp
/public/gambar/halaman_29/payung.webp
/public/gambar/halaman_29/tomat.webp
/public/gambar/halaman_30/bola.webp
/public/gambar/halaman_30/buaya.webp
/public/gambar/halaman_30/donat.webp
/public/gambar/halaman_30/jerapah.webp
/public/gambar/halaman_31-32/gunung.webp
/public/gambar/halaman_31-32/halaman_en.webp
/public/gambar/halaman_33/buku.webp
/public/gambar/halaman_33/kue.webp
/public/gambar/halaman_33/meja.webp
/public/gambar/halaman_33/sapi.webp
/public/gambar/halaman_33/udang.webp
/storage/framework/cache/data/1c/27/1c2769f87a22c7d5b4bbfab9285bd490efd9a988
/storage/framework/cache/data/3b/8c/3b8cf012bd0e5f1485d7c15dc8996fd032b9efc3
/storage/framework/cache/data/4c/34/4c34b2e4a1e0ad38c5989ad99819d43ab25ae6b1
/storage/framework/cache/data/4e/0f/4e0f53c842a67b2f622875cf9cb492d8f4cae583
/storage/framework/cache/data/60/87/60872af84d509c97f7b5677e29074c5c3944dcb0
/storage/framework/cache/data/74/7c/747c6ab7bfaeff78c7c4754ad1c13a0e2d0ecf51
/storage/framework/cache/data/a8/e1/a8e18b0681682f762a6e49a29765a858b6c306fe
/storage/framework/cache/data/b9/ea/b9ea1919833f151f3c9fd0890c86e5679606f850
/storage/framework/cache/data/c7/5f/c75f0079ac5d6f076aea7dbbe9b31f9ff27f25ea
/storage/framework/cache/data/d9/7a/d97a51c9111233aca1129bdd7bd2b4160c46a09a
/storage/framework/cache/data/dc/a4/dca48a21f56b108f5be19486b997e8f607bf0a45
/storage/framework/cache/data/e1/34/e1349452d864c811e04e78099a6203031c6c6a92
/storage/framework/cache/data/e4/db/e4db8c5fd046350725a54f674fe5ab553186192a
/storage/framework/cache/data/e9/02/e902681fe9c676baa6dd1eccc1921bfc9320d28c
/storage/framework/cache/data/ef/98/ef9802fa84c5a8bc2b0a8fb6b3acda1f4929c3f6
/storage/framework/views/1df7a32659341c6eba10e7cd8f8f9d63.php
/storage/framework/views/2b486540e2a380d288ed3bfea75132c9.php
/storage/framework/views/2fd6d9522f232399bc2a3b515b69661b.php
/storage/framework/views/4d6e532a58a4870cd42b50cec4ab6cac.php
/storage/framework/views/4e1808edbbe9242d02f0ef0adb3a95a7.php
/storage/framework/views/04fa789b749e3448cff8c25206d2f455.php
/storage/framework/views/5e4b82a9652cbf472189b577e276b983.php
/storage/framework/views/5ef612a9b5dda6db9e03fd8a0173dd67.php
/storage/framework/views/5f945dba8327044aa6598ac59b5d5eac.php
/storage/framework/views/6d7c64fe75b8ed9c7a0eea884512cd7f.php
/storage/framework/views/6d64f1558ec4e6bef3702406f5ba10e7.php
/storage/framework/views/6ebf073ddbad9171d46deb1a5c232e8a.php
/storage/framework/views/7b0e37afe04f3c5001c594469c8fa0fd.php
/storage/framework/views/7ccab3ea2cfa6a4d76bb538ad27f044a.php
/storage/framework/views/8c0ba6ed97616fb4e07ce5822374bea0.php
/storage/framework/views/8c90b870c2ca372f222920eaeffa1749.php
/storage/framework/views/8eac5b7e07d34a50d3f53b999d287dae.php
/storage/framework/views/9f85c948a06cb8b19312b405413af1cf.php
/storage/framework/views/12f4adcc14ac7011636ef78728993a23.php
/storage/framework/views/42cd4e07ca9ea5b41dd77eef0e6de01f.php
/storage/framework/views/49d7346a317b2797106b39f3a6efda24.php
/storage/framework/views/54e472af0e071f730125fb28120070f5.php
/storage/framework/views/55d1429ed417177a8e28897464b8c155.php
/storage/framework/views/68d7b212c583b9312308071c0bf15631.php
/storage/framework/views/71ea179ce2c4b7d623a37cc346be937f.php
/storage/framework/views/78bc1c6ee25f072354e720a857095cad.php
/storage/framework/views/83ba8b029efe17d1dd77ce6ce5e6fc0f.php
/storage/framework/views/90d3F6C.tmp
/storage/framework/views/90d28A3.tmp
/storage/framework/views/90d39B6.tmp
/storage/framework/views/90d46F.tmp
/storage/framework/views/90d71AE.tmp
/storage/framework/views/90d71D8.tmp
/storage/framework/views/90d80ac6f276f6dae963467bc00bdfd4.php
/storage/framework/views/90d98D8.tmp
/storage/framework/views/90dB8B6.tmp
/storage/framework/views/90dC23A.tmp
/storage/framework/views/90dE6C2.tmp
/storage/framework/views/90dE69B.tmp
/storage/framework/views/90dF5CE.tmp
/storage/framework/views/90dF594.tmp
/storage/framework/views/90dFA01.tmp
/storage/framework/views/90dFB2E.tmp
/storage/framework/views/99cae0105d9176375b3a1fe2c7235227.php
/storage/framework/views/164d6d7cf40ef896c64284f84131bf0d.php
/storage/framework/views/210a3fec407960ed1b68c67622655d7a.php
/storage/framework/views/265b66c4deb50aa131c5f5a00461295b.php
/storage/framework/views/302c882dbf4b26535a4d3d4bad9ab576.php
/storage/framework/views/395e795d2ea02dc1f24f2719c0501d52.php
/storage/framework/views/441df356eb4152326b51b5786e14e258.php
/storage/framework/views/3089d58d3285b413b31a1802f18bb862.php
/storage/framework/views/4960aed8b34fd6280cda1a58d2031142.php
/storage/framework/views/6933d6043163e40af243446adbc67cd5.php
/storage/framework/views/46899e81dcd4aed94459cf6bc334c0b2.php
/storage/framework/views/8999275dac3db0cb9ee22ac3f3828151.php
/storage/framework/views/071411198f245f54236f7d6bce9f8ee5.php
/storage/framework/views/223405231da44d2183c0c5fdcc5855a6.php
/storage/framework/views/aab040ab0a0fda73b2156109f934d8e5.php
/storage/framework/views/b7f3797afa9b62eabd0d9e88f2decd56.php
/storage/framework/views/b50e60c741bb83296f7ccc9d08bb507a.php
/storage/framework/views/bf574034f6484bc81d52b73d7a9c82b8.php
/storage/framework/views/c03b3ca13dbcf952decdb4ec018ce727.php
/storage/framework/views/c6b35d6b4f94c10df43f2bca566491ed.php
/storage/framework/views/c849b9c21eb56d55ccea2cf5e73ed20d.php
/storage/framework/views/c4749208868930debe29d0d024370be5.php
/storage/framework/views/d9ccd416f594f9d9fa1b9defc6584945.php
/storage/framework/views/d7882bc5311c41105be289d7f0f38f8f.php
/storage/framework/views/dcf0c6447bc0155d1609812c4ca4d4a8.php
/storage/framework/views/dff0e4814d66a65e7e3048bb8b55102e.php
/storage/framework/views/e5cc8de54c2298ff659c83cf8e791102.php
/storage/framework/views/e90a070a9a8b07bf5cbd6c513e089c91.php
/storage/framework/views/e514a1a082a96ef64f6b37c8f5464c43.php
/storage/framework/views/e650a69a2022c859061e3f10939df6ba.php
/storage/framework/views/e65362ca85d8662f2349b5a6e750cfab.php
/storage/framework/views/f8cc9ed74b9fc1ac81bbebda0ab34008.php
/storage/framework/views/f613b4edb1fe80401ba47a87ba89d838.php
/storage/framework/views/f6296fc3b5b8b521ceec8837cd080b0c.php
/storage/framework/views/fd4a4d61fde5515a2a5592278f8902e6.php
/storage/framework/views/fe62277003bc2c46f899192c4bac9ad1.php
