*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/public/audio/
public/data/content/dataFileList.dat
public/data/content/root.dat
public/data/content/data/Bitmaps.dat
public/data/content/data/data1.dat
public/data/content/data/masterPage.dat
public/data/content/data/page1.dat
public/data/content/data/page2.dat
public/data/content/data/page3.dat
public/data/content/data/page4.dat
public/data/content/data/page5.dat
public/data/content/data/page6.dat
public/data/content/data/page7.dat
public/data/content/data/page8.dat
public/data/content/data/page9.dat
public/data/content/data/page10.dat
public/data/content/data/page11.dat
public/data/content/data/page12.dat
public/data/content/data/page13.dat
public/data/content/data/page14.dat
public/data/content/data/page15.dat
public/data/content/data/page16.dat
public/data/content/data/page17.dat
public/data/content/data/page18.dat
public/data/content/data/page19.dat
public/data/content/data/page20.dat
public/data/content/data/page21.dat
public/data/content/data/page22.dat
public/data/content/data/page23.dat
public/data/content/data/page24.dat
public/data/content/data/page25.dat
public/data/content/data/page26.dat
public/data/content/data/page27.dat
public/data/content/data/page28.dat
public/data/content/data/page29.dat
public/data/content/data/page30.dat
public/data/content/data/page31.dat
public/data/content/data/page32.dat
public/data/content/data/page33.dat
public/data/content/data/page34.dat
public/data/(Revisi Pengarang)E-Book Pembelajaran.pdf
public/data/290524_BUKU PANDUAN MEMBACA.cdr
public/data/290524_BUKU PANDUAN MEMBACA.cdr - Copy.zip
public/data/mimetype
public/data/META-INF/container.xml
public/data/META-INF/links.xml
public/data/META-INF/metadata.xml
public/data/META-INF/textinfo.xml
public/data/color/color.xml
public/data/color/docPalette.xml
public/data/embed/embedding0
public/data/embed/embedding1
public/data/embed/embedding2
public/data/embed/embedding3
public/data/embed/embedding4
public/data/embed/embedding5
public/data/embed/embedding6
public/data/embed/embedding7
public/data/embed/embedding8
public/data/embed/embedding9
public/data/embed/embedding10
public/data/embed/embedding11
public/data/font/fontTable.dat
public/data/previews/page1.png
public/data/previews/page2.png
public/data/previews/page3.png
public/data/previews/page4.png
public/data/previews/page5.png
public/data/previews/page6.png
public/data/previews/page7.png
public/data/previews/page8.png
public/data/previews/page9.png
public/data/previews/page10.png
public/data/previews/page11.png
public/data/previews/page12.png
public/data/previews/page13.png
public/data/previews/page14.png
public/data/previews/page15.png
public/data/previews/page16.png
public/data/previews/page17.png
public/data/previews/page18.png
public/data/previews/page19.png
public/data/previews/page20.png
public/data/previews/page21.png
public/data/previews/page22.png
public/data/previews/page23.png
public/data/previews/page24.png
public/data/previews/page25.png
public/data/previews/page26.png
public/data/previews/page27.png
public/data/previews/page28.png
public/data/previews/page29.png
public/data/previews/page30.png
public/data/previews/page31.png
public/data/previews/page32.png
public/data/previews/page33.png
public/data/previews/page34.png
public/data/previews/thumbnail.png
public/data/styles/document.cdss
/public/gambar/halaman_1/ayam.webp
/public/gambar/halaman_1/beruang.webp
/public/gambar/halaman_1/cabai.webp
/public/gambar/halaman_1/dasi.webp
/public/gambar/halaman_1/elang.webp
/public/gambar/halaman_1/flamingo.webp
/public/gambar/halaman_2/gajah.webp
/public/gambar/halaman_2/helikopter.webp
/public/gambar/halaman_2/ikan.webp
/public/gambar/halaman_2/jerapah.webp
/public/gambar/halaman_2/kelelawar.webp
/public/gambar/halaman_2/lampu.webp
/public/gambar/halaman_3/(Revisi Pengarang)E-Book Pembelajaran.webp
/public/gambar/halaman_3/(Revisi Pengarang)E-Book Pembelajaran (1).webp
/public/gambar/halaman_3/(Revisi Pengarang)E-Book Pembelajaran (2).webp
/public/gambar/halaman_3/(Revisi Pengarang)E-Book Pembelajaran (3).webp
/public/gambar/halaman_3/mangga.webp
/public/gambar/halaman_3/nanas.webp
/public/gambar/halaman_4/(Revisi Pengarang)E-Book Pembelajaran.webp
/public/gambar/halaman_4/singa (1).webp
/public/gambar/halaman_4/tomat.webp
/public/gambar/halaman_4/ubi.webp
/public/gambar/halaman_4/wortel.webp
/public/gambar/halaman_4/xlophone.webp
/public/gambar/halaman_4/yoyo.webp
/public/gambar/halaman_4/zebra.webp
/public/gambar/halaman_7/(Revisi Pengarang)E-Book Pembelajaran.webp
/public/gambar/halaman_7/awan.webp
/public/gambar/halaman_7/ayam.webp
/public/gambar/halaman_7/elang.webp
/public/gambar/halaman_7/emas.webp
/public/gambar/halaman_7/ember.webp
/public/gambar/halaman_7/iguana.webp
/public/gambar/halaman_7/ikan.webp
/public/gambar/halaman_7/itik.webp
/public/gambar/halaman_7/obeng.webp
/public/gambar/halaman_7/obor.webp
/public/gambar/halaman_7/ombak.webp
/public/gambar/halaman_7/ubi.webp
/public/gambar/halaman_7/udang.webp
/public/gambar/halaman_7/ular.webp
/public/gambar/halaman_8/bebek.webp
/public/gambar/halaman_8/gurita.webp
/public/gambar/halaman_8/hiu.webp
/public/gambar/halaman_8/kucing.webp
/public/gambar/halaman_12/(Revisi Pengarang)E-Book Pembelajaran.webp
/public/gambar/halaman_12/(Revisi Pengarang)E-Book Pembelajaran (1).webp
/public/gambar/halaman_12/bola.webp
/public/gambar/halaman_12/foto.webp
/public/gambar/halaman_12/kue.webp
/public/gambar/halaman_12/lele.webp
/public/gambar/halaman_12/meja.webp
/public/gambar/halaman_12/piano.webp
/public/gambar/halaman_12/sapi.webp
/public/gambar/halaman_12/sate.webp
/public/gambar/halaman_13-14/ball.webp
/public/gambar/halaman_13-14/bola.webp
/public/gambar/halaman_15/kacamata.webp
/public/gambar/halaman_15/kuda.webp
/public/gambar/halaman_15/rusa.webp
/public/gambar/halaman_15/terong.webp
/public/gambar/halaman_15/timun.webp
/public/gambar/halaman_16/koin.webp
/public/gambar/halaman_16/melon.webp
/public/gambar/halaman_16/permen.webp
/public/gambar/halaman_16/taman.webp
/public/gambar/halaman_16/timun.webp
/public/gambar/halaman_17/donat.webp
/public/gambar/halaman_17/laut.webp
/public/gambar/halaman_17/pilot.webp
/public/gambar/halaman_17/roket.webp
/public/gambar/halaman_17/sakit.webp
/public/gambar/halaman_18/kaos.webp
/public/gambar/halaman_18/kapas.webp
/public/gambar/halaman_18/kubis.webp
/public/gambar/halaman_18/meses.webp
/public/gambar/halaman_18/paus.webp
/public/gambar/halaman_19/apel.webp
/public/gambar/halaman_19/botol.webp
/public/gambar/halaman_19/cangkul.webp
/public/gambar/halaman_19/kadal.webp
/public/gambar/halaman_19/mobil.webp
/public/gambar/halaman_20-21/badak.webp
/public/gambar/halaman_20-21/badak_en.webp
/public/gambar/halaman_22/alpukat.webp
/public/gambar/halaman_22/bebek.webp
/public/gambar/halaman_22/jagung.webp
/public/gambar/halaman_22/kelinci.webp
/public/gambar/halaman_23-24/wortel.webp
/public/gambar/halaman_23-24/wortel_en.webp
/public/gambar/halaman_25/lilin.webp
/public/gambar/halaman_25/mobil.webp
/public/gambar/halaman_25/robot.webp
/public/gambar/halaman_26/bakpau.webp
/public/gambar/halaman_26/bakpia.webp
/public/gambar/halaman_26/benua.webp
/public/gambar/halaman_26/cabai.webp
/public/gambar/halaman_26/danau.webp
/public/gambar/halaman_26/hiu.webp
/public/gambar/halaman_26/koboi.webp
/public/gambar/halaman_26/kue.webp
/public/gambar/halaman_26/murbei.webp
/public/gambar/halaman_26/video.webp
/public/gambar/halaman_27/bakso.webp
/public/gambar/halaman_27/bambu.webp
/public/gambar/halaman_27/banjir.webp
/public/gambar/halaman_27/bantal.webp
/public/gambar/halaman_27/barber.webp
/public/gambar/halaman_27/dokter.webp
/public/gambar/halaman_27/kertas.webp
/public/gambar/halaman_27/landak.webp
/public/gambar/halaman_27/panci.webp
/public/gambar/halaman_27/pompa.webp
/public/gambar/halaman_28/banteng.webp
/public/gambar/halaman_28/mangga.webp
/public/gambar/halaman_28/minyak.webp
/public/gambar/halaman_28/nyanyi.webp
/public/gambar/halaman_28/nyenyak.webp
/public/gambar/halaman_28/nyonya.webp
/public/gambar/halaman_28/senyum.webp
/public/gambar/halaman_28/singa.webp
/public/gambar/halaman_28/sungai.webp
/public/gambar/halaman_28/tongkat.webp
/public/gambar/halaman_29/kelinci.webp
/public/gambar/halaman_29/payung.webp
/public/gambar/halaman_29/tomat.webp
/public/gambar/halaman_30/bola.webp
/public/gambar/halaman_30/buaya.webp
/public/gambar/halaman_30/donat.webp
/public/gambar/halaman_30/jerapah.webp
/public/gambar/halaman_31-32/gunung.webp
/public/gambar/halaman_31-32/halaman_en.webp
/public/gambar/halaman_33/buku.webp
/public/gambar/halaman_33/kue.webp
/public/gambar/halaman_33/meja.webp
/public/gambar/halaman_33/sapi.webp
/public/gambar/halaman_33/udang.webp
